body {
  font: 14px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
  margin: 0;
  background: url(../img/bg.png) repeat;
  color: grey;
}
ul {
  padding: 0;
}
.logo img {
  width: 80px;
}
.header-top {
  margin-top: 20px;
  padding: 0 5px 0 35px;
}
.header-top .logo {
  float: left;
  padding-top: 17px;
}
.nav {
  float: right;
  margin-top: 20px;
}
.nav li {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav li:hover {
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nav li a {
  color: #666;
}
.container {
  padding: 0 40px;
}
.slider {
  margin: 40px auto;
}
h2 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.sec {
  padding: 40px 0;
}
.ar-img {
  padding: 0;
}
.spacer {
  background: grey;
  width: 85px;
  height: 4px;
  margin: 15px auto 20px;
}
.sec-img {
  text-align: center;
}
h3 {
  text-transform: uppercase;
}
.about-img {
  -webkit-border-radius: 100%;
          border-radius: 100%;
  padding: 10px;
  background: #696969;
}
.social {
  margin: 10px 0;
}
.icn {
  display: inline-block;
  background: #878787;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 0px 4px;
  vertical-align: top;
  font-size: 18px;
}
i {
  color: #fff;
  padding-top: 8px;
}
.fb {
  padding-right: 3px;
}
i:hover {
  color: green;
}
#portfolio {
  text-align: center;
}
.portf-img {
  margin-top: 40px;
}
.portf-descr {
  font-size: 14px;
  text-transform: capitalize;
}
footer {
  margin: 40px auto;
  text-align: center;
}
.nav-footer {
  margin: 45px 0;
}
.nav-footer li {
  display: inline-block;
  margin-right: 50px;
  list-style: none;
}
.nav-footer li:hover {
  background: none;
}
.nav-footer li a {
  font: 18px/18px;
}
.nav-footer li a:hover {
  color: #30bae7;
}
.contact {
  font-size: 16px;
}
.made {
  margin: 40px auto;
}
/*///////////////////////////////////////*/
/*////////////////Profile////////////////*/
/*///////////////////////////////////////*/
.profile {
  min-width: 1020px;
}
.col1 {
  display: inline-block;
  vertical-align: top;
}
.col2 {
  display: inline-block;
  width: 800px;
  margin: 0 10px;
  vertical-align: top;
}
.pf-col1-wrap {
  min-width: 220px;
  max-width: 265px;
  height: 365px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.pf-img-wrap {
  width: 200px;
  margin: 0 auto;
}
.pf-img-wrap img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.profile-edit-del {
  margin-top: 10px;
  min-width: 220px;
  max-width: 265px;
  height: 100px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.btn-wrap {
  width: 200px;
  margin: 10px auto;
}
.btn-wrap-edit {
  width: 200px;
  margin: 0 auto 10px;
}
.button {
  text-align: center;
  background-color: #ffb94b;
  background: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
  background: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
  background: linear-gradient(to bottom, #fddb6f, #ffb94b);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;
  float: left;
  height: 35px;
  padding: 7px 5px 7px 7px;
  width: 200px;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: #8f5a0a;
}
.button:hover,
.button:focus {
  background-color: #fddb6f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
  background: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
  background: linear-gradient(to bottom, #ffb94b, #fddb6f);
}
.button:active {
  outline: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.button::-moz-focus-inner {
  border: none;
}
.prof-del-btn {
  margin-top: 10px;
  background-color: #e6190f;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6190f), to(#5d120d));
  background: -webkit-linear-gradient(top, #e6190f, #5d120d);
  background: linear-gradient(to bottom, #e6190f, #5d120d);
  color: #590909;
  border-color: #590909;
}
.prof-del-btn:hover,
.prof-del-btn:focus {
  background-color: #5d120d;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d120d), to(#e6190f));
  background: -webkit-linear-gradient(top, #5d120d, #e6190f);
  background: linear-gradient(to bottom, #5d120d, #e6190f);
}
.pf-content {
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*border:1px solid #000;*/
}
th {
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}
td {
  background: #eaeaea;
  border-bottom: 1px solid #fff;
  color: #696969;
  border-top: 1px solid transparent;
  padding: 8px;
  width: 200px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
td:nth-child(2n) {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
td:nth-child(2n+1) {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
tr:hover td {
  background: #c0c0c0;
}
#activity td:nth-child(2n) {
  width: 300px;
}
#history td:nth-child(2n+1) {
  width: 100px;
}
#history td:nth-child(2n) {
  width: auto;
}
.secure td {
  width: 300px;
}
#tableBody td:nth-child(2n+1) {
  width: 10%;
}
#tableBody td:nth-child(2n) {
  width: 20%;
}
#tableBody td:nth-child(3n) {
  width: 70%;
}
/*////////////////Модальное окно////////////////*/
.white {
  background: #fff;
}
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  cursor: default;
}
/* активируем слой затемнения */
.overlay:target {
  display: block;
}
/* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target + .popup,
.show {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 15px;
}
/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
}
#reg-close {
  width: 15px;
  height: 15px;
}
.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
  position: absolute;
  right: 25%;
  top: -10%;
}
.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* изображения внутри окна */
.popup img {
  width: 100%;
  height: auto;
}
/* миниатюры слева/справа */
.pic-left,
.pic-right {
  width: 25%;
  height: auto;
}
.pic-left {
  float: left;
  margin: 5px 15px 5px 0;
}
.pic-right {
  float: right;
  margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}
/* параграфы */
.popup p {
  margin: 0;
  padding: 5px 0;
}
.popup input:not([type="submit"]),
select {
  background: #f1f1f1 no-repeat;
  padding: 2px 5px 2px 10px;
  margin: 0 0 10px 0;
  width: 300px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
.popup input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}
.field {
  float: left;
  width: 100%;
}
.popup label {
  float: left;
  text-align: right;
  line-height: 25px;
  width: 220px;
  margin-right: 5px;
  /* чтобы к меткам не прилипали поля */
}
.form-al {
  float: left;
}
/*////////////////Табы////////////////*/
/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
}
/* стили секций с содержанием */
.tab-sn {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.tabs input {
  display: none;
}
/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}
/* шрифт-иконки от Font Awesome в формате Unicode */
.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs label[for*="1"]:before {
  content: "\f007";
}
.tabs label[for*="2"]:before {
  content: "\f041";
}
.tabs label[for*="3"]:before {
  content: "\f132";
}
.tabs label[for*="4"]:before {
  content: "\f0e3";
}
.tabs label[for*="5"]:before {
  content: "\f1da";
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}
/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }
  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}
/*///////////////////////////////////////*/
/*//////////////////Items////////////////*/
/*///////////////////////////////////////*/
.mrow {
  margin: 20px 0;
}
.lot {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 200px;
  margin: 5px auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.lot:hover {
  border: 1px solid #000;
}
.lot-d:hover {
  border: 1px solid rgba(0, 0, 0, 0);
}
.lot-img {
  margin: 5px;
  width: 100px;
  height: 135px;
}
.lot-tit a {
  font-size: 16px;
}
#lotSelect {
  margin-left: 15px;
}
.lot-d-img {
  width: 180px;
  height: 180px;
  margin: 10px 0;
}
.lot-d-descr {
  text-align: left;
}
.pre-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #eaeaea;
  z-index: 900;
}
.preloader {
  position: fixed;
  top: 35%;
  left: 45%;
  z-index: 1000;
}
.pre-img {
  width: 80px;
}
