
   /* jssor slider bullet navigator skin 01 css */
   /*
   .jssorb01 div           (normal)
   .jssorb01 div:hover     (normal mouseover)
   .jssorb01 .av           (active)
   .jssorb01 .av:hover     (active mouseover)
   .jssorb01 .dn           (mousedown)
   */
   
    #jssor_1 {
		position: relative;
		margin: 0 auto; 
		/*top: 0px;
		left: 0px;*/
		width: 600px;
		height: 300px;
		overflow: hidden;
		visibility: hidden;
	}
   
   .jssorb01 {
       position: absolute;
	   top:16px;
	   right:16px;
   }
   .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
       position: absolute;
       /* size of bullet elment */
       width: 12px;
       height: 12px;
       filter: alpha(opacity=70);
       opacity: .7;
       overflow: hidden;
       cursor: pointer;
       border: #000 1px solid;
   }
   .jssorb01 div { background-color: gray; }
   .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
   .jssorb01 .av { background-color: #fff; }
   .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

   /* jssor slider arrow navigator skin 02 css */
   /*
   .jssora02l                  (normal)
   .jssora02r                  (normal)
   .jssora02l:hover            (normal mouseover)
   .jssora02r:hover            (normal mouseover)
   .jssora02l.jssora02ldn      (mousedown)
   .jssora02r.jssora02rdn      (mousedown)
   .jssora02l.jssora02lds      (disabled)
   .jssora02r.jssora02rds      (disabled)
   */
   .jssora02l, .jssora02r {
       display: block;
       position: absolute;
		margin-top:25%;
       /* size of arrow element */
       width: 55px;
       height: 55px;
       cursor: pointer;
       background: url('../img/a02.png') no-repeat;
       overflow: hidden;
   }
   .jssora02l {
		background-position: -3px -33px;
		left:8px;
	}
   .jssora02r { 
		background-position: -63px -33px;
		right:8px;
	}
   .jssora02l:hover { background-position: -123px -33px; }
   .jssora02r:hover { background-position: -183px -33px; }
   .jssora02l.jssora02ldn { background-position: -3px -33px; }
   .jssora02r.jssora02rdn { background-position: -63px -33px; }
   .jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
   .jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
   
   .loading {
	   position: absolute;
	   top: 0px;
	   left: 0px;
   }
   
   .load-div1 {
		filter: alpha(opacity=70);
		opacity: 0.7;
		position: absolute;
		display: block;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
   }
   
   .load-div2 {
	   position:absolute;
	   display:block;
	   background:url('img/loading.gif') no-repeat center center;
	   top:0px;
	   left:0px;
	   width:100%;
	   height:100%;
   }
   
   .slides {
		cursor: default;
		position: relative;
		top: 0px;
		left: 0px;
		width: 600px;
		height: 300px;
		overflow: hidden;
   }
   
	.caption{
		position: absolute;	
		width: 350px;
		height: 30px;
		background-color: rgba(235,81,0,0.5);
		font-size: 20px;
		color: #ffffff;
		line-height: 30px;
		text-align: center;
	}

	.caption1 {
		top: 320px;
		left: 30px;
	}

	.caption2 {
		top: -50px;
		left: 125px;
	}

	.caption3{
		top: 30px;
		left: -380px;
	}
   